@import '_font.scss';
@import '_normalize.scss';
@import '_animated.scss';
@import '_hamburger.scss';

$reactWidth : 50px;
$color: #E6D054;
$secondary: #5F46F1;

body{
    min-width: 300px;
    font-family: 'Montserrat', sans-serif;
    background: #131313;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,.8);
}
.steam{
    animation: steam 3s linear infinite;
}
.steam2{
    animation: steam 3.1s linear infinite;
}
@keyframes steam {
    0%{transform: translate(0px,0px);}
    66%{transform: translate(8px,-10px);}
    33%{transform: translate(-8px,-10px);}
    100%{transform: translate(0px,0px);}
}
.Cursor--blinking {
    animation: blinker 1s linear infinite;
    @keyframes blinker {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
    }
  }
.accordion__button{
    outline: 0;
    cursor: pointer;
}
.accordion__panel{
    padding-top: 20px;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.cursor{
    background: white;
}
.text-center{
    text-align: center;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.hide{
    pointer-events: none;
}
.wrapper{
    width: 100%;
    overflow-x: hidden;
}
.sm-show{
    display: none;
}
.xs-show{
    display: none;
}
.delay{
    &_1{
        animation-delay: 50ms;
    }
    &_2{
        animation-delay: 100ms;
    }
    &_3{
        animation-delay: 150ms;
    }
    &_4{
        animation-delay: 200ms;
    }
    &_5{
        animation-delay: 250ms;
    }                
}
.about{
    flex: 9;
    flex-wrap: wrap;
    color: #ffffff;
    // background: rgba(0,0,0,.5);
    padding: 0 30px;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    & .main-title{
        font-size: 30px;
        text-align: center;
        padding: 60px 0 30px;
    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        &-block{
            cursor: pointer;
            max-width: 310px;
            margin-bottom: 20px;
            padding: 40px 0px;
            text-align: center;
            border: 2px transparent solid;
            transition: .2s all ease-out;
            &:hover{
                border-color: $color;
                background: rgba(0,0,0,.5);
            }
            & .image{
                height: 130px;
            }
            & .title{
                padding-top: 20px;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
            }
            & .information{
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;                
            }
        }
    }
}
.portfolio{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    svg{
        width: 100%;
    }
    &__slider{
        flex: 1;
        display: inline-block;
        position: relative;
        max-width: 900px;
        & .item{
            position: absolute;
            top: 46%;
            left: 50%;
            border-radius: 10px;
            transform: translate(-50%,-50%);
            width: 76%;
            height: 82%;
            background: rgba(255,255,255,1);
            & .slick-slide{
                width: 100%;
                border-radius: 10px;
                overflow: hidden;
            }
        }
        & .filler{
            width: 65%;
            top: 47%;
            left: 58%;
            transform: translate(-50%,-50%);
            position: absolute;
        }
        .slick-list{
            border-radius: 10px;
        }
        // width: 75%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        img{
            border-radius: 10px;
            width: 100%;
        }
    }
    .inner{
        // background: black;
        position: relative;
    }
    #mask-main{
        background: blue;
    }
}
.pr-20{
    padding-right: 20px;
}
.gold{
    color: $color;
}
.mobile{
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 6;
    &-carousel{
        background: rgba(33, 37, 52, 0.8);
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 20px 20px;
        transition: .2s all ease-out;
        &:hover{
            box-shadow: 0px 0px 10px $color;
        }        
        .top{
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            align-items: center;
            & .price{
                color: $color;
                font-size: 16px;
                font-weight: bold;
            }
            & .title{
                font-weight: bold;
                font-size: 18px;            
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            & .descr{
                font-weight: 500;
                font-size: 16px;
                max-width: 600px;
            }
            & .arrow{
                font-weight: bold;
                color: $secondary;
                & span{
                    transition: .2s all ease-out;
                    display: block;
                }
                & .open{
                    transform: rotate(180deg);
                }
                & .closed{
                    transform: rotate(0deg);
                }
            } 
        }
        
    }
    &-title{
        padding-top: 30px;
        font-size: 22px;
        font-weight: bold;
        position: relative;
        z-index: 5;
        margin-bottom: 40px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &::before{
            content: '';
            display: block;
            height: 22px;
            width: 70%;
            max-width: 200px;
            background: $secondary;
            position: absolute;
            bottom: -10px;
            left: 30px;
            z-index: -1;
        }
    }
    &-description{
        font-size: 18px;
        text-align: justify;
        font-weight: 500;
        padding-bottom: 20px;
    }
}
.animation{
    flex: 3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__block{
        margin-left: 30px;
        width: 400px;
        height: 400px;
        position: relative;
        background: linear-gradient(280.9deg,  #2A3554 66.45%, #5F46F1 99.43%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 16px;        
        &--inner{
            background: #2A3554;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
            border-radius: 16px;
            height: 170px;
            position: relative;
            padding: 10px 10px;
            width: 300px;
            transition: .2s all ease-out;
            .bottom{
                font-size: 12px;
                padding-top: 20px;
                padding-left: 10px;
                .code{
                    line-height: 10px;
                    .cursor{
                        background: #ffffff;
                        // color: white;
                    }
                }
                .purple{
                    color: #9F8198;
                }
                .blue{
                    color: #7A99AD;
                }
                .orange{
                    color: #DE7300;                    
                }
                .yellow{
                    color: #C8B468;                    
                }
                .green{
                    color: #74B087;
                }
            }
            &:first-child{
                right: -35px;
                top: -40px;
            }
            &:nth-child(2){
                right: -70px;
                top: -30px;
            }
            &:nth-child(3){
                right: -40px;
                top: -20px;
            }            
            .top{
                display: flex;
                justify-content: space-between;
                & .left{
                    font-weight: bold;
                    color: #C5C8D4;
                }
            }
        }
    }
}
@keyframes pulse {
    0%{    box-shadow: 0px 0px 0px 0px transparentize($color,.0) ;}
    50%{    box-shadow: 0px 0px 0px 10px transparentize($color,.8) ;}
    100%{    box-shadow: 0px 0px 0px 0px transparentize($color,.8) ;}
}
.order{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: $color;
    color: #2A3554;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 0px;
    width: 180px;
    font-size: 18px;
    outline: 0;
    transition: .2s all ease-out;
    animation: pulse 1s ease-out 0s infinite;
    border: 0;    
    z-index: 7;
    cursor: pointer;
}
.footer{
    color: white;
    text-align: center;
    width: 100%;
    background: #121213;
    padding: 15px 0;
    div{
        padding-bottom: 10px;
    }
}
.home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    min-height: 400px;
    position: relative;
    &::before{
        content: '';
        background: url(../images/background.svg) center no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top:0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }    
    &_second{
        width: 100%;
        border: 1px $color solid;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        &:not(:first-child){
            margin-top: 10px;
        }
        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & .photo{
                flex: 3;
                text-align: center;
                img {
                    max-width: 100%;
                }
            }
        }
        &-about{
            text-align: right;
            padding-top: 20px;
            padding-bottom: 20px;
            & button{
                border: 0;
                outline: 0;
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
                font-style: normal;
                font-weight: bold;
                background: $secondary;
                padding: 12px 12px;
                border-radius: 4px;
                font-size: 12px;
                color: #ffffff;
            }
        }
        &-title{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            padding-top: 30px;
            padding-bottom: 20px;
            color: #ffffff; 
            text-align: center;            
        }
        &-subtitle{
            flex: 8;
            padding-left: 20px;
            font-style: normal;
            font-size: 14px;
            color: #ffffff;
        }        
    }
    &_bg {
        flex:9;
        display: flex;
        // background: url(../images/background.svg) center no-repeat;
        background-size: cover;
        max-height: 100vh;
        min-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        flex-wrap: wrap;
        &-wrapper {
            flex: 1;
            position: relative;
            display: flex;
            justify-content: space-around;
            &::before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                filter: blur(10px);
                z-index: 1;
            }
            &-site {
                border-left: rgba(255, 255, 255, 0.2) solid 2px;
                &.hover:hover{
                    background: rgba(42, 53, 84,.9);
                    // color: $secondary;
                    & > button::before{
                        width: 100px;
                    }
                }
                transition: .3s all ease-out;
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 5;
                color: #FFFFFF;
                & .img {
                    max-width: 300px;
                    margin: 0 auto;
                    padding-bottom: 45px;
                }
                & .h2 {
                    padding-bottom: 45px;
                    font-style: normal;
                    font-weight: bold;
                    text-align: center;
                    font-size: 24px;
                }
                & .p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: normal;
                    padding-top: 10px;
                    padding-left: 50px;
                }
                & .inner-btn{
                    background: transparent;
                    border: 0;
                    display: inline-block;
                    width: 80%;
                    min-width: 200px;
                    outline: 0;
                    padding: 15px 0;
                    border-radius: 6px;
                    margin: 60px auto 0;
                    text-decoration: none;
                    font-style: normal;
                    background: #5F46F1;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 15px;
                    position: relative;
                    color: $color;
                    // &::before{
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     z-index: -1;
                    //     display: block;
                    //     width: 0px;
                    //     height: 110%;
                    //     background: rgb(14, 61, 172);
                    //     transition: .3s all ease-in-out;
                    // }
                }
                & .h3 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 30px;
                    padding-left: 50px;
                    color: $color;
                    padding-top: 20px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
    &_left {
        flex: 3;
        display: flex;
        flex-direction: column;
        // background: rgba(18, 18, 19, 0.5);
        // background: #1B1F28;
        background: linear-gradient(90deg, #0D0F18 64.58%, rgba(18, 18, 19, 0) 100%);
        &-info {
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-left: 20px;
            &-number {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 15px;
                color: #FFFFFF;
            }
        }
        &-menu {
            flex: 3;
            justify-content: center;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            &-div a {
                display: block;
                padding-left: 20px;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                text-decoration: none;
                transition: .3s all ease-out;
                color: #ffffff;
                position: relative;
                padding-top: 10px;
                padding-bottom: 10px;
                &.active{
                    color:$color;
                }
            }
            &-div a:hover {
                color: $color;
                margin-left: 20px;
            }
        }
    }
    &_center {
        flex: 7;
        display: flex;
        // background: rgba(18, 18, 19, 0.5);
        flex-direction: column;
        justify-content: center;
        padding-left: 40px;
        // border-right: 2px rgba(255, 255, 255, 0.2) solid;
        &-title {
            min-height: 120px;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 100px;
            color: #ffffff;
            svg{
                max-width: 800px;
            }
        }
        &-subtitle {
            padding-top: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            max-width: 700px;
            line-height: 26px;
            min-height: 75px;
            transition: .2s all ease-out;
            color: #ffffff;
        }
        &-welcome{
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: $color;
            position: absolute;
            width: 400px;
            top: 0px;
            right: 50px;
        }
        &-about {
            padding-top: 90px;
            position: relative;
            & .positioner{
                display: inline-block;
                position: relative;
            }
            & button{
                border: 0;
                outline: 0;
                cursor: pointer;
                text-decoration: none;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #ffffff;
                background: $secondary;
                padding: 12px 15px;
                border-radius: 6px;
                transition: .2s all ease-out;
                &:hover{
                    background: $color;
                    color: $secondary;
                }
            }
            & .animated-hand{
                position: absolute;
                right: -110px;
                top: -10px;
                animation: hand 1s ease-out 0s infinite;
            }
            @keyframes hand {
                0% {right: -110px;}
                50% {right: -100px;}
                100% {right: -110px;}
              }              
        }
    }
    &_right {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background: rgba(18, 18, 19, 0.5);
        // & > div {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     &:not(:first-child){
        //         padding-top: 20px;
        //     }        
        // }
        // &-title {
        //     font-style: normal;
        //     font-weight: bold;
        //     font-size: 72px;
        //     line-height: 88px;
        //     color: #ffffff; 
        //     text-align: center;
        // }
        // &-subtitle {
        //     font-style: normal;
        //     font-weight: 500;
        //     font-size: 14px;
        //     line-height: 15px;
        //     color: #ffffff;
        //     text-align: center;
        // }
        
    }
}
.contact{
    &_center{
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        & .photo{
            width: 100%;
            min-width:  300px;
            max-width: 600px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    &_right{
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        padding-right: 10px;
        &-block{
            background: linear-gradient(180deg, #2A3554 0%, rgba(42, 53, 84, 0) 100%);
            border-radius: 10px 10px 0 0;
            & .top{
                padding: 25px 20px 10px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                & h3{
                    color: #CBB84D;
                    font-size: 36px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                & .right{
                    & a{
                        padding-right: 10px;
                    }
                }
            }
            & .center{
                padding: 10px 30px 0;
                & .phone{
                    display: flex;
                    justify-content: space-around;
                    font-size: 18px;
                    padding-bottom: 50px;                        
                    & .left{
                        font-weight: bold;
                    }
                    & .right{
                        font-weight: 500;
                    }
                }
                & .address{
                    text-align: center;
                    font-size: 18px;
                    line-height: 26px;
                    padding-bottom: 30px;
                    & > div{
                        font-weight: bold;
                    }
                    & > p{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.slick-dots{
    position: absolute;
    bottom: -100px;
    right: 0;
    ul{
        display: inline-block;
        li{
            padding-right: 50px;
            display: inline-block;
            cursor: pointer;
            transition: .2s all ease;
            font-size: 18px;
            color: #FFFFFF;            
        }
    }
    .slick-active{
        color: #CCA076;
        font-size: 28px;
    }
}
$circle-length: 151px;
$check-length: 36px;

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #E8D259;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #E8D259;
}

#successAnimationResult {
  fill: #E8D259;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
  
  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
               0.3s linear 0.9s 1 both fadeOut;
  }
  
  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}
$circle-size: 150px;

$check-height: $circle-size/2;
$check-width: $check-height/2;
$check-left: $circle-size/6;
$check-thickness: $circle-size/10;

.checkmark-circle {

  width:$circle-size;
  height:$circle-size;
  position: relative;
  display: inline-block;
  vertical-align: top;

  .background {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    background: #2EB150;
    position: absolute;
  }

  .checkmark {  

    &.draw:after {
      animation-delay : 100ms;
      animation-duration: 1s;
      animation-timing-function : ease;
      animation-name: checkmark;
      transform : scaleX(-1) rotate(180deg + -45deg);
      animation-fill-mode: forwards;
    }

    border-radius: 10px;

    &:after {
      opacity: 1; 
      height: $check-height; 
      width: $check-width;
      transform-origin : left top;
      border-right: $check-thickness solid white;
      border-top: $check-thickness solid white; 
      border-radius: 2.5px !important;
      content: '';
      left: $check-left;
      top: $check-height;
      position: absolute; 
    }

  }

}

@keyframes checkmark {
  0% { height: 0; width: 0; opacity: 1; }
  20% { height: 0; width: $check-width; opacity: 1; }
  40% { height: $check-height; width: $check-width; opacity: 1; }
  100% { height: $check-height; width: $check-width; opacity: 1; }
}
.form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    width: 550px;
    min-height: 450px;
    background: url(../images/modal-form.svg) center no-repeat #2A3554;
    background-size: cover;
    transition: .2s all ease-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 25px;
    color: #E8D259;
    & .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        & .left{
            & .bold{
                font-weight: bold;
                font-size: 22px;
            }
            & .secondary{
                color: rgba(232, 210, 89, 0.5);
                font-weight: 300;
            }
        }
    }
    & .center{
        & .input-form{
            max-width: 350px;
            margin: 20px auto 0;
            & label{
                display: block;
                font-weight: bold;
                text-align: left;
                padding-bottom: 8px;
            }
            & input{
                width: 100%;
                min-width: 150px;
                border: 0;
                color: #000000;
                background: #ffffff;
                -webkit-user-select: all;
                -khtml-user-select: all;
                -moz-user-select: all;
                -o-user-select: all;
                user-select: all;
                outline: 0;
                border-radius: 10px;
                padding: 15px 0px 15px 15px;
                // color: #2A3554;
            }    
        }
        & button{
            background: #E8D259;
            border-radius: 6px;
            border: 0;
            outline: 0;
            padding: 12px 15px;
            font-weight: bold;
            color: #2A3554;
            display: inline-block;
            margin: 40px auto 0;
            cursor: pointer;
        }
    }
}

@media (max-width: 1200px) {
    .accordion__panel{
        font-size: 14px;
    }
    .home_center-welcome{
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .animation__block{
        transform: scale(0.7);
        margin-left: 0px;
        width: auto;
    }
    .mobile-title{
        font-size: 20px;
    }
    .mobile-description{
        font-size: 14px;
    }
    .mobile-carousel .top .title{
        font-size: 20px;
    }
    .mobile-carousel .bottom .descr{
        font-size: 14px;
    }
    .home_center-title{
        font-size: 50px;
        line-height: 60px;
    }
    .home_right-title{
        font-size: 50px;
    }
    .home_bg-wrapper-site .img{
        max-width: 200px;
    }    
    .home_bg-wrapper-site .h2{
        font-size: 18px;
        padding-bottom: 20px;
    }
    .home_bg-wrapper-site .p{
        padding-left: 20px;
        font-size: 12px;
    }
    .home_bg-wrapper-site a{
        margin-left: 20px;
    }
    .home_bg-wrapper-site img{
        max-width: 150px;
    }
    .contact_right-block{
        min-width: 300px;
    }
}

@media (max-width: 992px) {
    .home_bg-wrapper-site .wrap{
        min-height: 100px;
    }
    .contact_right-block{
        // min-width: 300px;
        & .top{
            padding: 25px 5px 10px 15px;
            & h3{
                font-size: 22px;
            }
        }
        & .center{
            padding: 10px 15px 0;
        }
    }
    .contact_center .photo{
        padding-left: 10px;
        padding-right: 10px;
    }
    .mobile-title{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .mobile-carousel .top .title{
        font-size: 12px;
    }
    .mobile-carousel .top .price{
        font-size: 11px;
    }
    .mobile-description{
        font-size: 14px;
    }
    .home {
        &_bg{
            width: 100%;
        }
        &_left {
            position: relative;
            flex: 2;
            &-info {
                &-number {
                    padding-top: 10px;
                }
            }
            &-menu {
                padding-top: 0;
            }
        }
        &_center {
            flex: 6;
            &-title {
                font-size: 50px;
                line-height: 60px;
            }
            &-subtitle {
                min-height: 150px;
                padding-bottom: 20px;
                font-size: 16px;
                line-height: 26px;
            }
        }
            &-title {
                font-size: 42px;
                line-height: 58px;
            }
            &-subtitle {
                max-width: 20px;
                font-size: 16px;
                line-height: 15px;
            }
        }
        .home_right-subtitle{
            font-size: 10px;
        }
        .home_right-title{
            font-size: 40px;
        }
        .home_center-title{
            font-size: 40px;
            line-height: 50px;
        }
        .home_center-about{
            padding-top: 40px;
        }
        .home_left-menu-div{
            a{
                line-height: 12px;
                font-size: 12px;
                &:hover{
                    margin-left: 0;
                }
            }
        }
        .home_left-info-logo{
            img{
                width: 80px;
            }
        }
    }

@media (max-width: 768px){
    .accordion__panel{
        font-size: 12px;
    }
    .home_center-about .animated-hand{
        display: none;
    }
    .slick-dots{
        ul{
            li{
                padding-right: 10px;
                font-size: 18px;            
            }
        }
        .slick-active{
            font-size: 28px;
        }
    }    
    .portfolio{
        // flex-direction: column;
        min-height: 600px;
        & > h1{
            top: 10px;
            color: #ffffff;
            position: absolute;
        }
    }
    .contact_right{
        padding-right: 0;
        padding-bottom: 50px;
    }
    .contact_center .photo{
        padding-left: 50px;
        padding-right: 50px;
        min-width: 460px;
        margin-top: 20px;        
        margin-bottom: 50px;
    }
    .mobile{
        padding: 20px 10px 10px 20px;
        max-height: initial;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .about{
        max-height: initial;
        overflow-y: auto;
        & .title{
            font-size: 22px;
            padding-top: 30px;
        }
        & .subtitle{
            font-size: 14px;
        }
    }    
    .home_bg{
        overflow-y: auto;
        max-height: initial;
    }
    .mobile-title{
        font-size: 14px;
    }
    .mobile-carousel .top .title{
        font-size: 12px;
    }
    .mobile-carousel .top .price{
        font-size: 10px;
    }
    .mobile-carousel .bottom .descr{
        font-size: 12px;
    }
    .home_bg-wrapper-site img{
        padding-bottom: 15px;
    }
    .home_bg-wrapper-site .p{
        font-size: 16px;
        padding-left: 15px;
    }
    .home_bg-wrapper-site a{
        margin-top: 20px;
        font-size: 12px;
        margin-left: 15px;
    }
    .home_bg-wrapper-site .h2{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .home_right {
        display: none;
    }
    .home_left-info{
        padding-left: 10px;
        padding-top: 0;
    }
    .home{
        display: block;
    }
    .sm-show{
        display: block;
    }
    .home_left-menu{
        width: 150px;
        transition: .3s all ease-out;
        position: fixed;
        top: 0;
        right: -150px;
        bottom: 0;
        background: #0D0D28;
        z-index: 20;
        border-left: 1px transparentize($color,.3) solid;
    }
    .home_left{
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .home_bg-wrapper-site:not(:first-child){
        border-left: 0;
    }
    .home_bg-wrapper-site{
        background: rgba(33, 37, 52, 0.8);
        border-radius: 10px;
        margin: 20px 30px 20px;
        border-left: 0;
        padding-top: 20px;
        padding-bottom: 40px;
    }    
    .home_bg-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }
    .home{
        flex-wrap: wrap;
        height: auto;
    }
    .home_center-about{
        margin-bottom: 30px;
    }
    .home_center-title{
        padding-top: 20px;
    }
    .sm-column{
        flex-wrap: wrap-reverse;
    }
    .animation{
        padding-top: 20px;
    }
    .mobile , .animation {
        flex: auto;
    }
    .animation__block{
        transform: scale(1);
        margin: 0 auto;
        width: auto;
        position: relative;
        left: 0px;
        height: auto;
        &--inner:not(:nth-child(3)){
            display: none;
        }
        &--inner:nth-child(3){
            left: 0;
            top: 0;
        }
    }
    .home_left{
        height: 80px;
        padding-left: 10px;
        border-bottom: 2px rgba(255, 255, 255, 0.2) solid;
        border-right: 0;
        & .logo{
            width: 140px;
        }
    }    
}

@media (max-width: 567px){
    .order{
        border-radius: 5px;
        right: 20px;
        bottom: 20px;
        width: 100px;
        padding: 10px 0px;
        font-size: 12px;
    }
    .form{
        min-height: 300px;
        .top{
            text-align: center;
            padding-bottom: 0px;
            & .left{
                flex: 1;
                text-align: center;
            }
            & .right{
                display: none;
            }
        }
        width: 300px;
        & input{
            width: 300px;
        }
    }    
    .contact_center .photo{
        min-width: 350px;
    }
    .mobile{
        padding: 20px 15px 20px;
    }
    .home_center-welcome{
        font-size: 26px;
    }
    .home_center-title {
        font-size: 30px;
        padding-top: 40px;
        line-height: 40px;
    }
    .home_center {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 0;
    }
    .home_center-about {
        padding-top: 20px;
    }
    .home_bg-wrapper-site img{
        max-width: 100px;
    }
    .home_bg-wrapper-site .p{
        padding-left: 5px;
    }
    .home_bg-wrapper-site a{
        margin-left: 5px;
    }
    .home_bg-wrapper-site{
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
@media (max-width: 480px){
    .xs-show{
        display: block;
    }
}
.opened{
    right: 0;
}
@media (max-width: 360px){
    .mobile-title{
        font-size: 13px;
    }
}

.modal{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: .2s all ease-out;
    opacity: 0;
    overflow-y: hidden;
    visibility: hidden;    
}

.open{
    opacity: 1;
    visibility: visible;
}
.not_found{
    width: 100%;
}